<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Hakkımda</h2>
      <p style="text-align:justify">{{users.aboutMe}}</p>
    </div>
    <div class="row">
      <div class="col-md-2" data-aos="fade-right">
        <img src="{{users.pp2}}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{users.title}}</h3>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong><span>{{users.date}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Ehliyet:</strong><span>{{users.drivingLicense}}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Adres:</strong><span>{{users.address}}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong><span>{{users.age}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Derece:</strong><span>{{users.degree}}</span></li>
            </ul>
          </div>
        </div>
        <p>
        </p>
      </div>
    </div>
  </div>
</section>