<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="{{users.pp}}"
                alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a>{{users.firstName}}</a><a> {{users.lastName}}</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="{{users.linkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="{{users.github}}" class="github"><i class="bx bxl-github"></i></a>
                <a href="{{users.medium}}" class="medium"><i class="bx bxl-medium"></i></a>
                <a href="mailto:{{users.email}}" class="google"><i class="bx bxl-google"></i></a>
                <a href="{{users.twitter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
            </div>
        </div>
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a routerLink="" class="nav-link scrollto active"><i class="bx bx-home"></i><span>&nbsp;
                            AnaSayfa</span></a>
                </li>
                <li><a routerLink="/about" class="nav-link scrollto"><i class="bx bx-user"></i>
                        <span>Hakkımda</span></a></li>
                <li><a routerLink="/resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                        <span>Özgeçmiş</span></a>
                </li>
                <li><a routerLink="/skills" class="nav-link scrollto"><i class="bx bx-server"></i>
                        <span>Yeneklerim</span></a></li>
                <li><a routerLink="/portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Portföy</span></a></li>
                <li><a routerLink="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                        <span>İletişim</span></a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong style="color:#149ddd"><span><a>{{users.firstName}}</a><a>
                        {{users.lastName}}</a></span></strong>
        </div>
    </div>
</footer><!-- End  Footer -->