<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    <div class="container">
        <div class="section-title">
            <h2>Özelliklerim</h2>
            <p></p>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Happy Clients</strong> consequuntur quae</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Facts Section -->
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Yeteneklerim</h2>
            <p>
            </p>
        </div>
        <div class="row skills-content">
            <div class="col-lg-4 ml-4" data-aos="fade-up">
              <div class="progress">
                    <span class="skill">HTML 5</span>                  
                </div>
                <div class="progress">
                    <span class="skill">CSS 3 </span>
                </div>
                <div class="progress">
                    <span class="skill">Bootstrap 5 </span>
              </div>
              <div class="progress">
                <span class="skill">JavaScript ES6+</span>
          </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="progress">
                    <span class="skill">TypeScript </span>
                </div>
                <div class="progress">
                    <span class="skill">ANGULAR</span>
                </div>
                <div class="progress">
                    <span class="skill">Postman</span>
                </div>
                <div class="progress">
                    <span class="skill">VS Code</span>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="progress">
                    <span class="skill">C / C++</span>
                </div>
                <div class="progress">
                    <span class="skill">C#</span>
                </div>
                <div class="progress">
                    <span class="skill">Linux</span>
                </div>
                <div class="progress">
                    <span class="skill">SQL</span>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Skills Section -->