<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Özgeçmiş</h2>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Eğitim</h3>
        <div class="resume-item">
          <h4>Zonguldak Bülent Ecevit Üniversitesi</h4>
          <ul>
            <li>Lisans Derecesi, Bilgisayar Mühendisliği</li>
              <h5>Eyl 2019 - Haz 2022</h5>         
          </ul>
          <p></p>
        </div>
        <div class="resume-item">
          <h4>Sinop Üniversitesi</h4>
          <ul>
            <li>Ön Lisans Derecesi, Bilgisayar Programcılığı</li>
              <h5>Eyl 2016 - Haz 2018</h5>         
          </ul>  
          <p></p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Deneyim</h3>
        <div class="resume-item">
          <h4>MİLTEK - Frontend Web Geliştirme Eğitim
            Programı
          </h4>
          <ul>
            <li>Çalışma ve Sosyal Güvenlik Eğitim ve Araştırma
              Merkezi - (ÇASGEM)</li>           
              <p><em>CSS3, HTML5, Bootstrap5, JavaScript ES6+,
                Typescript, ANGULAR 
                 </em></p>    
                 <h5>May 2022 - Devam ediyor</h5>     
          </ul>
        </div>
        <div class="resume-item">
          <h4>Stajyer Bilgisayar Mühendisi
          </h4>          
          <ul>
            <li>T.C. Milli Eğitim Bakanlığı, Yenilik ve Eğitim
              Teknolojileri Genel Müdürlüğü</li>
              <p><em>Zorunlu yaz stajı boyunca login-register page
                yapılmıştır.
                 </em></p>
              <h5>Haz 2021 - Tem 2021
              </h5>         
          </ul>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Resume Section -->